 <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('assets/carousel-1.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="carousel-headers">Our Team</h3>
            </div>
          </div>
         

          <div class="carousel-item" style="background-image: url('assets/carousel-2.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="carousel-headers">State of the art infrastructure</h3>
            </div>
          </div>
        
        
          <div class="carousel-item" style="background-image: url('assets/carousel-3.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="carousel-headers">Quality Assurance</h3>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('assets/carousel-4.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="carousel-headers">Dedicated Facilites</h3>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('assets/carousel-5.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="carousel-headers">Analytical Research & Development</h3>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('assets/carousel-6.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="carousel-headers">Integrated Logistics Support</h3>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('assets/carousel-7.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="carousel-headers">Integrated Logistics Support</h3>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

   <section class="content-section-a no-user-select default-pointer">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">OUR HISTORY</h2>
            <p class="lead">Our Company SHRI RAMESTH INDUSTRIES was established IN 2007.
              In 2013 we started our marketing company in the name of ZHEN HEAL CRAFT PVT LTD .
              Since then our company has grown exponentially towards welfare of community.</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="rounded-circle img-fluid d-block mx-auto no-drag" src="assets/management.JPG" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b no-user-select default-pointer">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">QUALITY POLICY</h2>
            <p class="lead">We are committed to deliver affordable and quality products to patients. A fundamental element of our company mission and vision.</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
             <img class="rounded-circle img-fluid d-block mx-auto no-drag" src="assets/products-variety.JPG" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a no-user-select default-pointer">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">A PRODUCT FOR EVERY NEED</h2>
            <p class="lead">We take utmost care to understand the needs of our customers. This enables us to develop innovative quality products at an affordable cost.
              Our product catalog includes tablets, capsules, dry syrups AND oral liquid dosage forms.</p>
          </div>
          <div class="col-lg-5 mr-auto ">
            <img class="rounded-circle img-fluid d-block mx-auto no-drag" src="assets/quality.JPG" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>