.carousel-container {
   width: 80%;
   position: relative;
   left: 10%;
}

.carousel-item {
    width: 100%; /*slider width*/
    height: 300px;
   
}
.carousel-item img {
    width: 100%; /*img width*/
    height: 300px;
}