.address-container {
   border: 1px solid darkgrey;
    margin-top: 30px;
    height: 310px;
    margin-left: 33px;
    width: 90%;
    margin-bottom: 30px;
}

.address-detail-container { 
   float: left;
    position: relative;
    top: 27px;
}

#contact-logo {
    height: 15em;
    width: 100%;
}

.map-container {
    float: left;
    position: relative;
    top: 15px;
}

