.nav-container {
     background-color: lightgrey;
     border-bottom: #b8342c solid 4px;
     z-index: 1030;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #b8342c;
}

.nav-div-container {}

.navbar-button {
    border-color: #b8342c;
    border-width: 2px;
}

.navbar-button :focus {
    outline:none;
}

#brand-anchor {
    height: 6em;
}

#brand-image  {
    height: 100%;
}

.nav-link {
    font-size: 1.4em;
}

.navbar-brand {
    display: block;
}

#brand-name-cotainer {
   margin-top: 3%;
}

#main-brand-name {
    line-height: 0.2em;
    font-size: 1.8em;
    margin: 0 0 0 3%;
}

#unit-brand-name {
    font-size: 1.2em;
}

footer.py-4.bg-dark.no-user-select {
    background-color: #b8342c !important;
}
