<div class="header-container">
    <a id="logo-container" href="/">
        <img id="brand-logo" src="../../assets/logo.png">
    </a>
    <div class="brand-name-container">
        <label id="main-brand-name" class="brand-labels no-user-select">Shri Ramesth Industries</label>
        <label id="unit-brand-name" class="brand-labels no-user-select">(A unit of Zhen Heal Craft Pvt.Ltd.)</label>
    </div>
    <div class="iso-container">A GMP & ISO 9001-2008 Certified Company</div>
    </div>
     <div class="navbar-container">
     <nav class="navbar navbar-default">
            <ul class="nav navbar-nav navigation-item-container">
                <li class="nav-item navigation-items">
                    <a class="nav-link no-user-select" routerLink='about-us'>About Us</a>
                </li>
                <li class="nav-item navigation-items">
                    <a class="nav-link no-user-select" routerLink='products'>Product</a>
                </li>
                <li class="nav-item navigation-items">
                    <a class="nav-link no-user-select" routerLink='contact'>Contact</a>
                </li>
            </ul>
        </nav>
     </div>
    <router-outlet></router-outlet>
    <div class="navbar fixed-bottom footer-container">
        <div class="footer-label no-user-select">© 2017 Zhen Heal Craft Pvt.Ltd. All rights reserved.</div>
            <a class="fb-logo-container" href="https://www.facebook.com/Zhen-Heal-Craft-Pvt-Ltd-402363276564679/" target="blank">
            <img class="fb-logo" src="assets/fb-logo.png">
            </a>
    </div>