.nav-container {
    background-color: lightgrey;
    border-bottom: #b8342c solid 4px;
    z-index: 1030;
    min-height: 140px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #b8342c;
}

.nav-div-container {}

.navbar-button {
    border-color: #b8342c;
    border-width: 2px;
}

.navbar-button:focus {
    outline: none;
}

#brand-anchor {
    height: 6em;
}

#brand-image {
    height: 100%;
}

.nav-link {
    font-size: 1.4em;
}

.navbar-brand {
    display: block;
}

#brand-name-cotainer {
    margin-top: 3%;
}

#main-brand-name {
    line-height: 0.2em;
    font-size: 28px;
    text-align: center;
}

#unit-brand-name {
    font-size: 20px;
    text-align: center;
}

footer.py-4.bg-dark.no-user-select {
    background-color: #b8342c !important;
}

.footer-labels {
    font-size: 1em;
}

.fb-logo {
    height: 29px;
    width: 29px;
}


/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (max-width: 1150px) {
    #brand-anchor {
        height: 5.7em;
    }
    #main-brand-name {
        font-size: 26px;
    }
    #unit-brand-name {
        font-size: 18px;
    }
    .fb-logo {
        height: 25px;
        width: 25px;
    }
    .footer-labels {
        font-size: .8em;
    }
    .nav-link {
        font-size: 1.3em;
    }
}


/* TABLETS PORTRAIT */

@media only screen and (max-width: 768px) {
    .nav-container {
        min-height: 110px;
    }
    #brand-anchor {
        height: 5.3em;
    }
    #main-brand-name {
        font-size: 24px;
    }
    #unit-brand-name {
        font-size: 16px;
    }
    .nav-link {
        font-size: 1.1em;
    }
    .footer-labels {
        font-size: .6em;
    }
    .fb-logo {
        height: 23px;
        width: 23px;
    }
    .col-md-4 {
        -ms-flex: 0 0 40.333333%;
        flex: 0 0 40.333333%;
        max-width: 40.333333%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-3 {
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%;
    }
}

@media only screen and (max-width: 480px) {
    .nav-container {
        min-height: 110px;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    #brand-anchor {
        height: 4.3em;
    }
    .navbar-button {
        font-size: .8rem
    }
    .nav-link {
        font-size: 0.8em;
    }
    #main-brand-name {
        font-size: 20px;
    }
    #unit-brand-name {
        font-size: 12px;
    }
    .fb-logo {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .nav-container {
        min-height: 80px;
    }
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-5 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #brand-anchor {
        height: 3.3em;
    }
    .navbar-button {
        font-size: .5rem
    }
    .nav-link {
        font-size: 0.8em;
    }
    #main-brand-name {
        font-size: 15px;
    }
    #unit-brand-name {
        font-size: 9px;
    }
    .footer-labels {
        font-size: .4em;
    }
    .fb-logo {
        height: 16px;
        width: 16px;
    }
    .py-4 {
        padding-bottom: .6rem !important;
        padding-top: .6rem !important;
    }
}


@media only screen and (max-width: 330px) {
   .nav-container {
        min-height: 70px;
    }
    #brand-anchor {
        height: 2.7em;
    }
    .navbar-button {
        font-size: .3em;
        padding: 2px 6px 3px;
    }
    .nav-link {
        font-size: 0.6em;
    }
    #main-brand-name {
        font-size: 14px;
    }
    
}