.product-container {
    min-height: 38em;
    background-color: #FED0BB;
}

#distribute-div {
    color: black;
    margin-left: 1%;
    font-size: 1.6em;
    margin-top: 0%;
    justify-content: center;
    margin: auto;
    width: 80%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Roboto';

}

.container {
   width: 57%;
   padding-bottom: 50px;
}