<div class="product-container fluid-container">     
     <div id="distribute-div" class="no-user-select">We develop and distribute over 500 products for healthcare professionals that promote health and well-being for Indians
            in all stages of life.
        </div>
    <div *ngIf="products" class="container">
        <products-group [category]="'Tablets'" [products]="products.tablets"></products-group>
        <products-group [category]="'Capsules'" [products]="products.capsules"></products-group>
        <products-group [category]="'Syrups'" [products]="products.syrups"></products-group>
    </div>
</div>