.link-group-container{
}
hr {
    background-color: #1D7874;
}

p.post-meta {
    background-color: #FDF0D5;
    padding: 3%;
}


.unoredered-lines {
    background-color: #FDF0D5;
    padding-bottom: 3%;
}