<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-container">
    <div class="container nav-div-container">
        <a id="brand-anchor" class="navbar-brand" href="#">
            <img id="brand-image" src="/assets/logo.png" id="brand-image" alt="">
        </a>
        <div id="brand-name-cotainer">
            <p id="main-brand-name" class="navbar-brand no-user-select">Shri Ramesth Industries</p>
            <p id="unit-brand-name" class="navbar-brand no-user-select">(A unit of Zhen Heal Craft Pvt.Ltd.)</p>
        </div>
        <button class="navbar-toggler navbar-button" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link no-user-select" routerLink='about-us'>About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-user-select" routerLink='products'>Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-user-select" routerLink='contact'>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="py-4 bg-dark">
    <div class="footer-above">


        <div class="container">

            <div class="row">
                 <div class="col-md-4">
                    <span class="copyright text-white">A GMP & ISO 9001-2008 Certified Company</span>
                </div>
                
                <div class="col-md-5">
                    <span class="copyright text-white" style="float: right;">© 2017 Zhen Heal Craft Pvt.Ltd. All rights reserved.</span>
                </div>
               <div class="col-md-3 ">
                    <ul class="list-inline social-buttons" >
                        <li class="list-inline-item" style="float: right;">
                            <a href="https://www.facebook.com/Zhen-Heal-Craft-Pvt-Ltd-402363276564679/" target="blank">
                                <img class="fb-logo" src="assets/fb-logo.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-md ">
                    <!--<span class="text-white" style="float: right;">Developed by Ankit Kapoor</span>-->
                </div>
            </div>
        </div>
    </div>
</footer>