<div class="home-container">
    <div class="row ">
        <div class="col-sm-3 offset-md-4 flash-cards center-card no-user-select default-pointer" style="background: #52914a;"><span>Zhen Heal Craft </span></div>
    </div>
    <div class="row">
        <div class="col-sm-3 offset-md-2 flash-cards no-user-select default-pointer" style="background-color: #467dbf;text-align: center;"><span>Shri Ramesth Industries</span></div>
        <div class="col-sm-3 offset-md-2 flash-cards no-user-select" style="background-color: #FE9920; cursor: pointer;" (click)="openPaulLink()"><span>Paul Real Estates</span></div>
    </div>

</div>